
#total{
    width: 98%;
    max-width: 980px;
    height: auto;
    margin: auto;
}

#topo {
    width: 100%;
    height: auto;
    float: left;
    background-color: white
}

#logo{
    width: 204px;
    height: 84px;   
    margin: 18px auto; 
}

#menu{
    width: 100%;
    height: 40px;
    background-color: black;
    line-height: 40px;
    text-align: center;
}

#menu a{
    color: white;
    margin: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
}

#menu a:hover{
    text-decoration: underline;
}

#banner{
    margin: auto
}